MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=change_me
MYSQL_DATABASE=netvelocity
MYSQL_TABLE=metrics_fact
MYSQL_DATE_COLUMN=event_date
MYSQL_METRIC_COLUMN=metric_name
MYSQL_VALUE_COLUMN=metric_value
MYSQL_GEO_TYPE_COLUMN=geo_type
MYSQL_GEO_VALUE_COLUMN=geo_value
MYSQL_APP_COLUMN=app_name
MYSQL_TECH_COLUMN=technology
MYSQL_BAND_COLUMN=band
MYSQL_COMPARE_DIMENSION_COLUMN=comparison_label
MYSQL_DEFAULT_LIMIT=5000
